<div class="col-md-9 grid-margin stretch-card m-auto create-user">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ pageTitle }}</h4>
      <form class="forms-sample"  (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="nom">Nom</label>
            <input
              type="text"
              class="form-control"
              formControlName="nom"
              id="nom"
              placeholder="Nom"
            />
          </div>
          <div class="form-group col-sm-6">
            <label for="prenom">Penom</label>
            <input
              type="text"
              class="form-control"
              formControlName="prenom"
              id="prenom"
              placeholder="Prenom"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="Email"
            />
          </div>
          <div class="form-group col-sm-6">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              formControlName="username"
              id="username"
              placeholder="Username"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="profil">Profil</label>
            <select
              name="profil"
              class="form-control"
              formControlName="profil"
              placeholder="profil"
              required
            >
              <option value="/api/admin/profils/1">ADMIN</option>
              <option value="/api/admin/profils/3">FORMATEUR</option>
              <option value="/api/admin/profils/4">CM</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label>File upload</label>
            <input
              type="file"
              formControlName="avatar"
              #fileInput
              hidden
              (change)="onSelectedFile($event)"
              class="  file-upload-default"
            />
            <div class="input-group col-xs-12">
              <input
                type="text"
                class="form-control file-upload-info"
                disabled
                placeholder="Uploader image"
                [placeholder]="placeholder"
              />
              <span class="input-group-append">
                <button
                  class="file-upload-browse btn btn-info"
                  (click)="fileInput.click()"
                  type="button"
                >
                  Upload
                </button>
              </span>
            </div>


          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="tel">Tel</label>
            <input type="tel" class="form-control"  formControlName="phone" id="tel" placeholder="Tel" />
          </div>
          <div class="form-group col-sm-6"></div>
        </div>
        <div class="form-group">
          <input type="hidden" formControlName="id">
          <button type="submit" class="btn text-md form-control  ">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="col-md-9">
   <div class="form-group">
          <label for="exampleInputCity1">City</label>
          <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
        </div>
        <div class="form-group">
          <label for="exampleTextarea1">Textarea</label>
          <textarea class="form-control" id="exampleTextarea1" rows="2"></textarea>
        </div>
  <div class="dash-right">
      <div class="dash-header">
        <div class="dash-title">
            <h3>Ajouter un utilisateur</h3>
        </div>
      </div>
      <div class="blog-form row">
        <div class="col-sm-10">
          <form action="">
            <div class="form-group form-row">
                <label class="col-md-3">Nom <span class="required">*</span></label>
                <div class="col-md-9">
                  <input type="text" class="form-control" placeholder="Nom" name="nom" required>
                </div>
            </div>
            <div class="form-group form-row">
              <label class="col-md-3">Prénom</label>
              <div class="col-md-9">
                <input type="text" name="prenom"  class="form-control" />
              </div>
            </div>
            <div class="form-group form-row">
              <label class="col-md-3">Adresse mail</label>
              <div class="col-md-9">
                <input type="text" name="add-mail" class="form-control" />
              </div>
            </div>
            <div class="form-group form-row">
              <label class="col-md-3">Avatar</label>
              <div class="col-md-9">
                <input type="file" id="image" name="avatar" class="form-control" />
              </div>
            </div>
            <div class="form-group form-row">
                <label class="col-md-3">Profil <span class="required">*</span></label>
                <div class="col-md-9">
                  <select name="description"  class="form-control" placeholder="profil" required>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </div>
            </div>
            <div class="form-group form-row">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                  <button type="submit" class="btn btn-primary">Soumettre</button>
                </div>
            </div>
          </form>
        </div>
        <div class="col-sm-2 ">
          <img src="/assets/images/bgi.png" alt="avatar choisi" class="rounded-circle">
        </div>
      </div>
  </div>
</div> -->
