<app-header-breadcrumb></app-header-breadcrumb>
<div class="p-grid p-justify-center p-align-center" style="height: 100%">
  <div class="p-xl-7 p-lg-7 p-md-8 p-sm-11">
    <p-panel header="{{ pageTitle }}">
      <form class="forms-sample" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="p-col-12">
            <div class="ui-inputgroup">
              <div class="p-col-6">
                <label for="nom">Nom</label>
                <input
                  id="float-input-username"
                  type="text"
                  size="30"
                  pInputText
                  formControlName="nom"
                  placeholder="nom"
                  required
                />
              </div>
              <div class="p-col-6">
                <label for="prenom">Prenom</label>
                <input
                  id="float-input-username"
                  type="text"
                  size="30"
                  pInputText
                  formControlName="prenom"
                  placeholder="prenom"
                  required
                />
              </div>
            </div>

            <div class="ui-inputgroup">
              <div class="p-col-6">
                <label for="email">E-mail</label>
                <input
                  id="float-input-username"
                  type="email"
                  size="30"
                  pInputText
                  formControlName="email"
                  placeholder="e-mail"
                  required
                />
              </div>
              <div class="p-col-6">
                <label for="username">Username</label>
                <input
                  id="float-input-username"
                  type="text"
                  size="30"
                  pInputText
                  formControlName="username"
                  placeholder="username"
                  required
                />
              </div>
            </div>

            <div class="ui-inputgroup">
              <div class="p-col-6">
                <label for="profil">Profil</label>
                <div class="p-col-6">
                  <div class="ui-inputgroup"></div>
                </div>
                <select
                  name="profil"
                  class="p-col-12"
                  formControlName="profil"
                  placeholder="profil"
                  required
                >
                  <option value="">selected a profil</option>
                  <option value="/api/admin/profils/1">ADMIN</option>
                  <option value="/api/admin/profils/3">FORMATEUR</option>
                  <option value="/api/admin/profils/4">CM</option>
                </select>
              </div>
              <div class="p-col-6">
                <label for="tel">Tel</label>
                <input
                  type="tel"
                  pInputText
                  formControlName="phone"
                  id="float-input-username"
                  placeholder="Tel"
                />
              </div>
            </div>

            <div class="ui-inputgroup">
              <div class="p-col-12">
                <label for="nom">Avatar</label>
                <input
                  type="file"
                  formControlName="avatar"
                  #fileInput
                  hidden
                  accept="image/*" 
                  (change)="onSelectedFile($event)"
                  class="file-upload-default"
                />
                <div class="ui-inputgroup">
                  <input
                    type=""
                    disabled
                    class="p-col-9"
                    placeholder="Uploader image"
                    [placeholder]="placeholder"
                  />
                  <span class="p-col-3 spna-col">
                    <a (click)="fileInput.click()" type="button"> Upload </a>
                  </span>
                </div>
              </div>
            </div>
            <input type="hidden" formControlName="id">
            <div>
              <button pButton type="submit"
               class="btn text-md ">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </p-panel>
  </div>
</div>
