.body{
    float: left ;
    margin-bottom: -2em;
    height: 1OOhv;

}
div img{
   margin-bottom: 18px;
   background-repeat: no-repeat;
   background-size:cover;

}

div span{
    color: black;
    font-weight: 700;
    margin-bottom: 2em;
    font-size: 18px;
    line-height: 2em;
}

div > span {
    color: black;
    font-weight: 500 !important;
    font-size: 18px;
}
.qrcode{
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 1px 1px rgba(0,0,0,0.22);
    display: block;
    float: right;

}
.bshadow {
    opacity: .7;
  
  }
  .pdf{
      float: right;
  }
  textarea {
      margin-top: 15px; 
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
      opacity: .5;
  }