
<div class=" p-nogutter p-justify-center p-align-center" style="height:100%">
  <div class="p-col-12">
    <app-header-breadcrumb></app-header-breadcrumb>
  </div>
    <div class="p-grid p-justify-center stretch-card ">
      <p-panel header="User Details">
  
        <p-card header="Student Card" 
          subheader="" 
          id="contentToConvert" 
          [style]="{width: '40em', height: '23em'}"
           styleClass="p-cardshadow"
           *ngIf="userform != null"
           >
          <ng-template pTemplate="header">
            <!-- <img
            src="data:image/png;base64,{{ userform.avatar }}"
             alt="image"
             style="width: 100px;height: 40px "
           /> -->
          </ng-template >
         
          <div class="body">
            <img
            src="/assets/images/loginPage.png"
             alt="image"
             style="width: 100px;height: 40px; background:red "
           />
            <div>
              <span class="">Prenom : </span>{{userform.prenom}}
            </div>
            <div>
              <span>Nom : </span>{{userform.nom}}
            </div>
            <div>
              <span>E-mail : </span>{{userform.email}}
            </div>
            <div>
              <span>Phone : </span>{{userform.phone}}
            </div>
          </div>
          
          <div class="qrcode">
            <ngx-qrcode
              [elementType]="elementType"
              [errorCorrectionLevel]="correctionLevel"
              [value]="value"
              cssClass="bshadow">
            </ngx-qrcode>
          </div>
        </p-card>
      
        <p-footer>
          <button pButton type="button" label="Back" class="ui-button-secondary prime-button" (click)="back()"></button>
          <button pButton type="button" label="Generate Card" class="ui-button-secondary pdf prime-button" (click)="convetToPDF()"></button>
        </p-footer>
      </p-panel>
  
  </div>
</div>