<div
  class="p-grid p-nogutter p-justify-center p-align-center"
  style="height: auto"
>
  <div class="p-xl-5 p-lg-8 p-md-10 p-sm-12">
    <p-panel header="{{ pageTitle }}">
      <form class="forms-sample" [formGroup]="promoForm" (ngSubmit)="onSubmit()">
       
          <div class="">
            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon label"
                  >Choix de la langue <i>*</i></span
                >
                <select
                  class="p-col-8"
                  name="langue"
                  formControlName="langue"
                  placeholder="langue"
                  required
                >
                  <option value="">selected lang</option>
                  <option value="fr">Français</option>
                  <option value="en">Anglais</option>
                  <option value="wl">Arabe</option>
                </select>
              </div>
            </div>

            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon label"
                  >Titre <i>*</i></span
                >
                <input
                  class="p-col-8"
                  type="text"
                  placeholder="titre"
                  formControlName="titre"
                  required
                />
              </div>
            </div>

            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon label "
                  >Description de la promotion <i>*</i></span
                >
                <textarea
                  rows="2"
                  formControlName="description"
                  class="form-control p-col-8"
                  placeholder="Message"
                  required
                ></textarea>
              </div>
            </div>

            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon label"
                  >Lieu de la promotion
                </span>
                <input
                  type="text"
                  formControlName="lieu"
                  class="form-control p-col-8"
                  placeholder="Lieu de la promotion"
                  required
                />
              </div>
            </div>

            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon label"
                  >Référence Agate <i>*</i></span
                >
                <input
                  type="text"                  
                  formControlName="referenceAgate"
                  class="p-col-8"
                  placeholder="Référence Agate"
                  required
                />
              </div>
            </div>

            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon label"
                  >Choix de la fabrique <i>*</i></span
                >
                <select                   
                 formControlName="fabrique"
                  id="" class="p-col-8">
                  <option value="ODC">Odc</option>
                  <option value="Technopôle">Technopôle</option>
                </select>
              </div>
            </div>

            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon label " 
                  >Date de début <i>*</i></span
                >
                <input 
                 type="date" 
                 formControlName="dateDebut" 
                 required
                 class="p-col-8" />
              </div>
            </div>

            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon label"
                  >Date de début <i>*</i></span
                >
                <input 
                type="date" 
                formControlName="dateCloture"
                 class="p-col-8" />
              </div>
            </div>

            <div class="p-col-12">
              <div class="ui-inputgroup">
                <p-accordion class="p-col-12">
                  <p-accordionTab header="Référenciels" [selected]="false">
                    <p *ngFor="let r of ref; let i= index"></p>
                    <p-selectButton 
                       [options]="ref" 
                       [(ngModel)]="value2" multiple="multiple" 
                       optionLabel="libelle" optionValue="r.id"
                       (onChange)="basedOnModeofTrack($event)"
                       [ngModelOptions]="{standalone: true}"
                       >
                    </p-selectButton>
                  </p-accordionTab>
                </p-accordion>
              </div>
            </div>
            <div class="p-col-12">
              <div class="ui-inputgroup">
                <div
                  class="uploadfilecontainer"
                  (click)="fileInput.click()"
                  appDragDrop
                  (onFileDropped)="onSelectedFile($event)"
                >
                  <input
                    hidden
                    type="file"
                    #fileInput
                    (change)="onSelectedFile($event)"
                  />
                  <div class="imagefond text-center">
                    <small>fichier accepté JPEG ou PNG</small>
                    <p class="text-sm-3">Faites glissez une image ou</p>
                    <h5 class="">Importez depuis votre ordinateur</h5>
                  </div>
                </div>
                <!-- <div
                  class="files-list"
                  *ngFor="let file of files; let i = index"
                >
                  <p>{{ file }}</p>
                  <button class="delete-file" (click)="deleteAttachment(i)">
                    <span class="btn btn-danger fa fa-delete">-</span>
                  </button>
                </div> -->
              </div>
            </div>

            <div class="p-col-12">
              <div class="ui-inputgroup">
                <div class="p-col-7">
                  <button
                     pButton
                    type="submit"
                    label="<--Retour"
                    class="ui-button-raised"
                  ></button>
                </div>
              
                <div class="right">
                  <button 
                  pButton
                    type="submit"
                    label="Créer ajouter des apprenants--&gt;"
                    class="ui-button-raised"
                  >
                    
                  </button>
                </div>
            
              </div>
            </div>

            <div>
              <input type="hidden" formControlName="id" />
            </div>
          </div>
      
      </form>
    </p-panel>
  </div>
</div>
