<div class="p-grid p-justify-justify" style="height: 100%">
  <div class="p-xl-12 p-lg-12 p-md-12 p-sm-12">
    <app-header-breadcrumb></app-header-breadcrumb>
    <p-panel header="Referenciel List">
      <div class="div-btn">
        <a
          [routerLink]="['/admin/users/create-referenciel']"
          class="btn btn-success"
          ><i class="pi pi-user-plus"></i
        ></a>
      </div>

      <div *ngIf="referenciels == null" class="m-auto">
        <h1>Pas de Users disponibles</h1>
      </div>
      <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let ref of referenciels">
          <div class="box">
            <p-accordion>
              <p-accordionTab header="{{ref.libelle}}" [selected]="true">
                <p>Competence viser: {{ref.competenceViser}}</p>
                <p>Criteres d'evaluation: {{ref.creteresEvaluation}}</p>
                <p>Criteres d'admission: {{ref.criteresAdmission}}</p>
              </p-accordionTab>
              <p-accordionTab header="Presentation">
                <p>{{ref.presentation}}</p>
              </p-accordionTab>
              <p-accordionTab header="Groupe competences et promos">
                <p>
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui
                  blanditiis praesentium voluptatum deleniti atque corrupti quos
                  dolores et quas molestias excepturi sint occaecati cupiditate
                  non provident, similique sunt in culpa qui officia deserunt
                  mollitia animi, id est laborum et dolorum fuga. Et harum
                  quidem rerum facilis est et expedita distinctio. Nam libero
                  tempore, cum soluta nobis est eligendi optio cumque nihil
                  impedit quo minus.
                </p>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
</div>
