

    <div class="row">
      <div class="col-md-5 border border-primary pt-2">
        <div class="row">
          <select name="listCompetences" id="" class="form-control">
            <option value="">Développer le front d'une application </option>
            <option value="">Développer le back d'une application </option>
            <option value="">Développer le front d'une application </option>
            <option value="">Développer le back d'une application </option>
          </select>
        </div>
        <div class="row ">
          <ul class="list-unstyled">
            <li>Maquetter une application</li>
            <li>Developper une interface Web Dynamique</li>
            <li>Réaliser une interface avec un CMS</li>
            <li>Réaliser une interface web responsive</li>
          </ul>
        </div>
      </div>
      <div class="col-md-7 border border-primary pt-2">
        <ul class="nav nav-pills ">
          <li class="active p-3">
            <a data-toggle="tab" href="#niveau1">Niveau 1</a>
          </li>
          <li class="p-3"><a data-toggle="tab" href="#niveau2">Niveau 2</a></li>
          <li class="p-3"><a data-toggle="tab" href="#niveau2">Niveau 3</a></li>
        </ul>
      </div>

      <div class="tab-content">
        <div id="niveau1" class="tab-pane fade in active">
          <div class="row">
            <div class="col-6 ">
              <div class="card">
                <div class="card-header">
                  Groupe d'actions
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Lorem ipsum dolor sit amet test test test test tempore
                    cumque reprehenderit impedit vero.
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-header ">
                  Groupe d'actions
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Lorem ipsum dolor sit amet test test test test tempore
                    cumque reprehenderit impedit vero.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="niveau2" class="tab-pane fade">
          <div class="row">
            <div class="col-6 ">
              <div class="card">
                <div class="card-header">
                  Groupe d'actions
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Lorem ipsum dolor sit amet test test test test tempore
                    cumque reprehenderit impedit vero.
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-header ">
                  Groupe d'actions
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Lorem ipsum dolor sit amet test test test test tempore
                    cumque reprehenderit impedit vero.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="niveau3" class="tab-pane fade">
          <div class="row">
            <div class="col-6 ">
              <div class="card">
                <div class="card-header">
                  Groupe d'actions
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Lorem ipsum dolor sit amet test test test test tempore
                    cumque reprehenderit impedit vero.
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-header ">
                  Groupe d'actions
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Lorem ipsum dolor sit amet test test test test tempore
                    cumque reprehenderit impedit vero.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
