h1 {
  font-size: 2.4rem;
  margin-bottom: 30px;
}
.stretch-card{
  margin-top: 7em !important;
  padding-bottom: 10PX;
}
.p-btn .info, .p-btn .danger,.p-btn .warning {
  padding-right: none;
  margin-right: 0.5em !important;
  
  border: none;
}
.p-btn .info{
  background-color:#07A5EC;

}
.p-btn .warning{
  background-color: #F79919;
}
.p-btn .danger{
  background-color: #E60D40;
 

}
.disabled{
  pointer-events: none;
  border: none;
  background-color: inherit;
}



.div-btn{
  position: relative;
  bottom: 2.1em;
  float: right;
  font-size: 1.3em;

}

@media (max-width: 750px){
  .p-btn .info, .p-btn .danger,.p-btn .warning {
    display: flex;
    margin-right: 0.5em !important;
    
    border: none;
  }

}
@media (max-width: 450px){
  .p-btn .info, .p-btn .danger,.p-btn .warning {
    display: flex;
    margin-right: 0.5em !important;
    
    border: none;
  }

}
.dash-left ul li a:hover {
  background-color: #fff;
  color: #007edb;
  border: #007edb 2px solid;
}



