
$font-primary: "Poppins", Arial, sans-serif;
$primary: #3445b4;
$secondary: #44bef1;
h1 {
  font-size: 2.4rem;
  margin-bottom: 30px;
}
.stretch-card {
  margin-top: 7em !important;
  padding-bottom: 10px;
  background-color: $secondary;
}
.btn {
  margin: none;
  padding: none;
}
.dash-title h3 {
  text-align: center;
}
.div-btn{
  position: absolute;
  top: 2px;
  right:15px;
}
// .body-content {
//   min-height: 380px;
// }
// .mtb-40 {
//   margin: 15px 0;
//   min-height: 450px;
// }

@media (max-width: 750px){


}
@media (max-width: 450px){


}
