.ui-inputgroup{
    margin-left: -8.5em !important;
}
.center{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 65%;
}
.cohort{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold !important;
    color: #0790a8 !important;
    font-style: italic;
}

