<div
  class="p-grid p-nogutter p-justify-center p-align-center"
  style="height: auto"
>
  <div class="p-xl-5 p-lg-8 p-md-10 p-sm-12">
    <p-panel header="{{ pageTitle }}">
      <div class="forms-sample">
      <form  [formGroup]="refForm" (ngSubmit)="onSubmit()">
       
            <div class="p-col-12">
              <span class="p-col-12 label"
                >Libelle <i>*</i></span
              >
              <input
              pInputText
                type="text"
                placeholder="libelle"
                formControlName="libelle"
                required
              />
            </div>

            <div class="p-col-12">
              <span class="-col-12 label "
                >Présentation <i>*</i></span
              >
              <textarea
                rows="2"
                pInputText
                formControlName="presentation"
                class="form-control p-col-8"
                placeholder="presentation"
                required
              ></textarea>
            </div>

            <div class="p-col-12">
              <span class="-col-12 label "
                >Competence viser <i>*</i></span
              >
              <input
                pInputText
                formControlName="competenceViser"
                class="form-control p-col-8"
                placeholder="competenceViser"
                required
              />
            </div>
            <div class="p-col-12">
              <span class="p-col-12 label"
                >Groupes Competences <i></i></span
              >
              <select                   
               formControlName="groupeCompetences"
               pInputText
                id="" class="p-col-8">
                <option value="">selected groupe competences</option>
                <option value="ODC">Odc</option>
                <option value="Technopôle">Technopôle</option>
              </select>
            </div>
            <div class="p-col-12">
              <span class="p-col-12 label"
                >Groupes <i></i></span
              >
              <select                   
               formControlName="groupes"
               pInputText
                id="" class="p-col-8">
                <option value="">selected groupes</option>
                <option value="ODC">Odc</option>
                <option value="Technopôle">Technopôle</option>
              </select>
            </div>

            <div class="p-col-12 fileload">
                <span class="p-col-12 label">Programmes <i>*</i></span>
              <input
              type="file"
              formControlName="programmes"
              #fileInput
              hidden
              accept=".pdf" 
              (change)="onSelectedFile($event)"
              class="file-upload-default"
            />
            <input
              type=""
              pInputText
              disabled
              class="p-col-12"
              placeholder="Uploader image"
              [placeholder]="placeholder"
            />
            <span class="p-col-3 spna-col">
              <a (click)="fileInput.click()" type="button"> Upload </a>
            </span>
            
            </div>
          

            <div class="p-col-12">
              <span class="-col-12 label " 
                >Critères d'évaluation <i>*</i></span
              >
              <textarea
              rows="2"
              pInputText
              formControlName="criteresEvaluation"
              class="form-control p-col-8"
              placeholder="critere-evaluation"
              required
            ></textarea>
            </div>

            <div class="p-col-12">
              <span class="-col-12 label " 
                >Critères d'admission <i>*</i></span
              >
              <textarea
              rows="2"
              pInputText
              formControlName="criteresAdmission"
              class="form-control p-col-8"
              placeholder="critere-admission"
              required
            ></textarea>
            </div>
          
            <div class="p-col-12">
              <button
                class="p-col-12"
                 pButton
                type="submit"
                label="Add Referenciel"
                class="ui-button-raised"
              ></button>
            <div>
              <input type="hidden" formControlName="id" />
            </div>
          </div>
        </form>
      </div>
      </p-panel>
  </div>
</div>


